<section class="my-16">
  <div class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display mt-8"
        >
          Un espacio en donde se reúnen la
          <span class="text-indigo-600">academia</span> y la
          <span class="text-indigo-600">investigación científica</span>
        </h1>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          Explora una colección sin límites de estudios, experimentos y
          descubrimientos de universidades e instituciones de renombre en
          Bolivia. Todo en un solo lugar.
        </p>
      </div>

      <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start mb-8"
      >
        <div class="text-gray-500">
          <strong class="text-gray-700">Investigadores experimentados</strong>
          ━ Encuentra a profesionales con amplia experiencia en desarrollo
          científico.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Proyectos de impacto</strong> ━ Descubre
          qué hacen las universidades para cambiar el mundo.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Resultados verídicos</strong> ━ Procesos
          de investigación y experimentación confiables con resultados reales.
        </div>
      </dl>
    </div>
  </div>
</section>
